<h1>AVENGERS</h1>
<h2>YOUR ULTIMATE GUIDE</h2>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome To Avengers World! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Videos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Comics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;More&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Download&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; Join</p>
<div class="container">
    <div class="image">
        <img src='https://www.itl.cat/pngfile/big/13-133893_53-luxury-pictures-of-marvel-wallpaper-marvel-pc.jpg'
            alt="">
        <div class="center">
            CREATE AWESOME STUFF<br>
            WITH THE WORLD'S<br>
            GREATEST COMIC API<br>
            The Avengers Comics API allows developers everywhere to<br>
            access information about Avenger's vast library of comics—<br>
            from what's coming up, to 70 years ago.
            <br>
             Readyyy to watch ?
            <br>
            <button class="start" routerLink="/movies">GET STARTED >> </button>
               <div class="watch">
                <h4>Download your shows to watch offline</h4>
                <img src="https://media1.giphy.com/media/Z9QGyT1RQL00318Lzz/giphy.gif" alt="">
               </div>
        </div>
      </div>
    </div>