<div class="background">
    <h1>Welcome Back</h1>
    <h5>HOME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SERVICE</h5>
    <div class="login-div">
        <div class="logo"></div>
        <div class="title">Cinema</div>
        <div class="sub-title">BOX</div>
        <p>Every great Film should seem new everytime you see it</p>
    </div>
    <div>
        <h3>Get in Touch</h3>
        <p>
            Let's talk about Everything
        </p>
        <h6>Dont like forms?Send me an Email</h6>
        <div class="fields">
            <div class="username">
                <input type="username" placeholder="&nbsp;&nbsp;Your name">
            </div>
            <div class="password">
                <input type="password" placeholder="&nbsp;&nbsp;Email Address">
            </div>
            <div class="password">
                <input type="message" placeholder="&nbsp;&nbsp;Message">
            </div>
        </div>
        <button class="signin-button">Send Message</button>
    </div>
    <h2>BLOCKBUSTER MOVIES</h2>

    <div class="mov">
        <button class="explore" routerLink="/new">Let's Explore</button>
        <div class="movies">
            <div class="logo1">
            </div>
        </div>
        <div class="movies1">
            <div class="logo2">
            </div>
        </div>
        <div class="movies2">
            <div class="logo3">
            </div>
        </div>
        <div class="movies3">
            <div class="logo4">
            </div>
        </div>
        <h4>Pricing Plans</h4>

        <div class="plans">
            <div class="plan1">
                BASIC
                <br>
                <p>Monthly Subscription<br>
                    $20 </p>
                <button class="start">Get Started</button>
            </div>

            <div class="plan2">
                PREMIUM
                <br>
                <p>Annual Subscription<br>
                    $129</p>
                <button class="start1">Get Started</button>
            </div>

        </div>