<h1>START STREAMING NOW</h1>
<h2>Watch anywhere, anytime</h2>
<div class="complete">
   <img class="image" [src]="movie.Poster" alt="">
   <div class="details">
      <p class=" title">{{movie.Title | slice:0:25}}</p>
      <p class="year">{{movie.Year}}</p>
      <p class="runtime">{{movie.Runtime}}</p>
      <p class="genre">{{movie.Genre}}</p>
      <p class="plot">{{movie.Plot}}</p>
      <p class="rating">{{movie.imdbRating}}</p>
   </div>
</div>

<h3>AVENGER HEROES</h3>

<div class="characters">
   <div class="first">
      ANTMAN
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2maruox4aeoiuh-243x360-copy.jpg?w=149&h=220&zoom=2"
         alt="" hspace="60">
   </div>
   <div class="first">
      THOR
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mbyh1x4ailpa8-243x360-copy.jpg?w=187&h=277&zoom=2"
         alt="" hspace="60">
   </div>
   <div class="first">
      CAPTAIN AMERICA
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mnrloxcae26pf-243x360.jpg?w=149&h=220&zoom=2" alt=""
         hspace="60">
   </div>
   <div class="first">
      BLACK WIDOW
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mnunxwsaec7bw-243x360.jpg?w=149&h=220&zoom=2" alt=""
         hspace="60">
   </div>
</div>
<div class="characters2">
   <div class="second">
      OKOYE
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mogyswoaaqgd_-243x360.jpg?w=188&h=279&zoom=2" alt=""
         hspace="60">
   </div>
   <div class="second">
      BRUCE BANNER
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2moraxxqaabxww-243x360.jpg?w=149&h=220&zoom=2" alt=""
         hspace="60">
   </div>
   <div class="second">
      HAWKEYE
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mcfnvwwaatwsc-243x360-copy.jpg?w=187&h=277&zoom=2"
         alt="" hspace="60">
   </div>
   <div class="second">
      ROCKET RACCOON
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mn5otxqayildc-243x360.jpg?w=302&h=447&zoom=2" alt=""
         hspace="60">
   </div>
</div>
<div class="characters3">
   <div class="third">
      CAPTAIN AMERICA
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mn5orxgauvk2s-243x360.jpg?w=302&h=447&zoom=2" alt=""
         hspace="60">
   </div>
   <div class="third">
      CAPTAIN MARVEL
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2moj0ex4aerqva-243x360.jpg?w=149&h=220&zoom=2" alt=""
         hspace="60">
   </div>
   <div class="third">
      PEPPER POTTS
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mefd9u4aag7jh-243x360-copy.jpg?w=149&h=220&zoom=2"
         alt="" hspace="60">
   </div>
   <div class="third">
      SHURI
      <img src="https://fandomfactory.files.wordpress.com/2019/04/d2mqr-3x0aa7ej1-291x360.jpeg?w=162&h=201&zoom=2"
         alt="" hspace="60">
   </div>
</div>